<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml" >

    <ui:define name="titulo">Cadastro de Disciplinas</ui:define>
    <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Inserção de Disciplina" style="margin-bottom:20px"  >
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Grande área do Enem: </h:outputLabel>
                <!--h:inputText size = "20" value="{disciplinaController.disciplina.idAreaEnem}"/-->
                <p:selectOneMenu id="cboAreaEnem" value="#{disciplinaController.disciplina.idAreaEnem}" >
                    <f:selectItem itemLabel="Selecione uma Área do Enem" itemValue="" />
                    <f:selectItems  value="#{disciplinaController.listaAreaEnem}" var="areaEnem" itemValue="#{areaEnem.idAreaEnem}" itemLabel="#{areaEnem.nmAreaEnem}"  />
                </p:selectOneMenu>
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Área de Conhecimento: </h:outputLabel>
                <!--h:inputText size = "20" value="{disciplinaController.disciplina.idAreaConhecimento}" /-->
                <p:selectOneMenu id="cboGrandeArea" value="#{disciplinaController.disciplina.idAreaConhecimento}" >
                    <f:selectItem itemLabel="Selecione uma Área de Conhecimento" itemValue="" />
                    <f:selectItems  value="#{disciplinaController.listaAreaConhecimento}" var="grandeArea" itemValue="#{grandeArea.idAreaConhecimento}" itemLabel="#{grandeArea.nmAreaConhecimento}" />
                </p:selectOneMenu>

                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Disciplina: </h:outputLabel>
                <h:inputText size = "20" value="#{disciplinaController.disciplina.nmDisciplina}" />



                <p:commandButton id="cmdSubmitTeste" value="Inserir Disciplina"  action="#{disciplinaController.inserirTbDisciplina()}" icon="pi pi-save">
                </p:commandButton>

                <h:outputLabel id="lblMensagem" value="#{loginController.mensagem}" style="color: red; font-size: 18px;" />
                

            </p:fieldset>
            <!--<p:fieldset legend="Disciplinas já inseridas" style="margin-bottom:20px">
                <p:dataTable id="dtlListaDisciplinas" value="#{disciplinaController.listaDisciplinasAtuais}" var="disciplinaAtual">
                    <p:column headerText="Código:">
                        <h:outputText value="#{disciplinaAtual.idDisciplina}" />
                    </p:column>                    

                    <p:column headerText="Área do Conhecimento:">
                        <h:outputText value="#{disciplinaController.getAreaConhecimentoByIndex(disciplinaAtual.idAreaConhecimento)}" />
                    </p:column>                    
                    <p:column headerText="Área do Enem">
                        <h:outputText value="#{disciplinaController.getAreaEnemByIndex(disciplinaAtual.idAreaEnem)}" />
                    </p:column>                    
                    <p:column headerText="Nome da Disciplina:">
                        <h:outputText value="#{disciplinaAtual.nmDisciplina}" />
                    </p:column>                    
                </p:dataTable>

            </p:fieldset>-->

        </h:form>
    </ui:define>
</ui:decorate>