<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"            
             xmlns:ui="http://java.sun.com/jsf/facelets" 
             template="/section/template/defaultTemplate.xhtml" 
             xmlns:p="http://primefaces.org/ui">

        <ui:define name="titulo">Lista de Disciplinas</ui:define>
        <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Disciplinas já inseridas" style="margin-bottom:20px">
                <p:dataTable id="dtlListaDisciplinas" value="#{disciplinaController.listaDisciplinasPorAreaEnem}" var="disciplinaAtual">                 
                    <p:column headerText="Área do Conhecimento:">
                        <h:outputText value="#{disciplinaController.getAreaConhecimentoByIndex(disciplinaAtual.idAreaConhecimento)}" />
                    </p:column>                    
                    <p:column headerText="Área do Enem">
                        <h:outputText value="#{disciplinaController.getAreaEnemByIndex(disciplinaAtual.idAreaEnem)}" />
                    </p:column>                    
                    <p:column headerText="Nome da Disciplina:">
                        <h:outputText value="#{disciplinaAtual.nmDisciplina}" />
                    </p:column>                    
                    <p:column headerText="#">
                        <p:commandLink action="#{questaoController.chamarListarQuestaoFiltradas(disciplinaAtual.idDisciplina)}" value="Listar Questões" ajax="true" />                        <!--p:commandLink action="{questaoController.chamarListarQuestoes(disciplinaAtual.idDisciplina)}" value="Listar Questões" ajax="true" />-->
                    </p:column>                    
                </p:dataTable>

            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>
