<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"            
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml" >

        <ui:define name="titulo">Lista de Disciplinas</ui:define>
        <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Disciplinas já inseridas" style="margin-bottom:20px">
                <p:dataTable id="dtlListaDisciplinas" value="#{disciplinaController.listaDisciplinasAtuais}" var="disciplinaAtual">               

                    <p:column headerText="Área do Conhecimento:">
                        <h:outputText value="#{disciplinaController.getAreaConhecimentoByIndex(disciplinaAtual.idAreaConhecimento)}" />
                    </p:column>                    
                    <p:column headerText="Área do Enem">
                        <h:outputText value="#{disciplinaController.getAreaEnemByIndex(disciplinaAtual.idAreaEnem)}" />
                    </p:column>                    
                    <p:column headerText="Nome da Disciplina:">
                        <h:outputText value="#{disciplinaAtual.nmDisciplina}" />
                    </p:column>                    
                    <p:column headerText="Código:">
                        <h:outputText value="#{disciplinaAtual.idDisciplina}" />
                    </p:column>                    
                </p:dataTable>

            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>
