<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets"  xmlns:p="http://primefaces.org/ui"
             template="/section/template/defaultTemplate.xhtml" >

    <ui:define name="conteudo">
        <h:form>
             <p:fieldset legend="Cadastro do Usuário" style="margin-bottom:20px"  >
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome: </h:outputLabel>
                <h:inputText size = "20" value="#{usuarioController.usuario.nmUsuario}"/>
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Login: </h:outputLabel>
                <h:inputText size = "20" value="#{usuarioController.usuario.nmLogin}" />
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Senha: </h:outputLabel>
                <h:inputText size = "20" value="#{usuarioController.usuario.dsSenha}" />
                
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Tipo de perfil: </h:outputLabel>
                <p:selectOneMenu id="cboPerfil" value="#{usuarioController.usuario.idPerfil}" >
                    <f:selectItem itemLabel="Selecione um tipo de perfil" itemValue="" />
                    <f:selectItem itemLabel="Revisador" itemValue="1" />
                    <f:selectItems  value="#{perfilController.listaTbPerfil}" var="tipoPerfil" itemLabel="#{tipoPerfil.nmPerfil}"  />
                </p:selectOneMenu>                

                <p:commandButton id="cmdInserirUsuario" value="Cadastrar"  action="#{usuarioController.inserirTbUsuario()}"></p:commandButton>
                <h:commandLink action="#{loginController.chamarPaginaLogin()}" value="VOLTAR"/>
            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>