<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets"
             xmlns:p="http://primefaces.org/ui"
             template="/section/template/defaultTemplate.xhtml" >
    <h:outputStylesheet library="css" name="style.css"/>
    <ui:define name="menu"></ui:define>
    <ui:define name="rodape"></ui:define>
    <ui:define name="conteudo">
        <h:form target="#{paginas.paginaCadastro}">
             <p:fieldset legend="Loggar" style="margin-bottom:20px"  >
                 <p:panelGrid columns="2" style="border-style: none; "  >
                <p:outputLabel style="color: blue; font-size: 22px; font-weight: bolder;" styleClass="exibicaoLabel" >Login: </p:outputLabel>
                <h:inputText size = "20" value="#{loginController.usuarioLogin.nmLogin}" />
                <h:outputLabel style="color: blue; font-size: 22px; font-weight: bolder;">Senha: </h:outputLabel>
                <h:inputSecret size = "20" value="#{loginController.usuarioLogin.dsSenha}"/>
                <!--h:commandButton value = "Entrar" actionListener="{loginController.validarLogin()}" action="{loginController.chamarPaginaCadastro}"  >
                </h:commandButton-->

                <p:commandButton id="cmdSubmitTeste" value="Entrar"  action="#{loginController.chamarPaginaPrincipal()}" icon="pi pi-save" ajax="false" actionListener="#{loginController.validarLogin()}"  >
                </p:commandButton>

                <p:commandLink action="#{loginController.chamarPaginaCadastroUsuario()}" value="Cadastrar Novo Usuario" ajax="true" />


                <h:outputLabel value="#{loginController.mensagem}" style="color: red; font-size: 18px;" />
                </p:panelGrid>
            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>