<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"            
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml" >

        <ui:define name="titulo">Lista de Area de Conhecimento</ui:define>
        <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Disciplinas já inseridas" style="margin-bottom:20px">
                <p:dataTable id="dtlListaDisciplinas" value="#{areaEnemController.chamarListaAreaEnem()}" var="areaAtual">
               
                    <p:column headerText="Nome da Area">
                        <h:outputText value="#{areaAtual.nmAreaEnem}" />
                    </p:column>                                  
                    <p:column headerText="#">
                        <p:commandLink action="#{disciplinaController.chamarListaDisciplinaPorAreaEnem(areaAtual.idAreaEnem)}" value="Listar Disciplinas" ajax="true" />
                    </p:column>                    
                </p:dataTable>

            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>
