<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"            
             xmlns:ui="http://java.sun.com/jsf/facelets"   xmlns:p="http://primefaces.org/ui"
             template="/section/template/template.xhtml" >

    <ui:define name="titulo">SEB - Tela Principal - Bem Vindo #{loginController.usuarioLogin.nmUsuario}</ui:define>
    <ui:define name="conteudo">
        <h:form>
            <!--h:commandLink style="font-size: larger;" action="{loginController.chamarPaginaCadastroDisciplinas()}" value="Cadastrar Nova Disciplina"/>
            <h:commandLink style="font-size: larger;" action="{loginController.chamarPaginaCadastroQuestoes()}" value="Cadastrar Nova Questão"/-->
            <p:commandLink action="#{loginController.chamarPaginaCadastroDisciplinas()}" value="Cadastrar Nova Disciplina" ajax="true" />
            <p:commandLink action="#{loginController.chamarPaginaCadastroQuestoes()}" value="Cadastrar Nova Questão" ajax="true" />

        </h:form>
    </ui:define>
</ui:decorate>