<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml">

    <ui:define name="titulo">Cadastro de Respostas</ui:define>
    <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Inserção de Resposta" style="margin-bottom:20px"  >
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome questão: #{questaoController.questao.nmQuestao}</h:outputLabel>
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome da resposta 1: </h:outputLabel>
                <p:textEditor widgetVar="widgetEditor"  height="300" style="margin-bottom:10px"  value="#{respostaController.resposta.nmResposta}"/>
                
                <p:commandButton id="cmdInserirResposta" value="Cadastrar"  action="#{respostaController.inserirTbResposta()}">
                </p:commandButton>
                
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome da resposta 2: </h:outputLabel>
                <p:textEditor widgetVar="widgetEditor"  height="300" style="margin-bottom:10px"  value="#{respostaController.resposta2.nmResposta}"/>
                
                <p:commandButton id="cmdInserirResposta2" value="Cadastrar"  action="#{respostaController.inserirTbResposta2()}">
                </p:commandButton>
                
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome da resposta 3: </h:outputLabel>
                <p:textEditor widgetVar="widgetEditor"  height="300" style="margin-bottom:10px"  value="#{respostaController.resposta3.nmResposta}"/>
                
                <p:commandButton id="cmdInserirResposta3" value="Cadastrar"  action="#{respostaController.inserirTbResposta3()}">
                </p:commandButton>
                
                <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome da resposta 4: </h:outputLabel>
                <p:textEditor widgetVar="widgetEditor"  height="300" style="margin-bottom:10px"  value="#{respostaController.resposta4.nmResposta}"/>
                
                <p:commandButton id="cmdInserirResposta4" value="Cadastrar"  action="#{respostaController.inserirTbResposta4()}">
                </p:commandButton>
                <p:commandLink action="#{loginController.chamarPaginaPrincipal()}" value="Voltar para a principal" ajax="true" />
            </p:fieldset>

            
        </h:form>
    </ui:define>
</ui:decorate>