<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"    
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml" >

    <ui:define name="titulo">Cadastro de Questão</ui:define>
    <ui:define name="conteudo">
        <h:form>
                <p:fieldset legend="Cadastro da Questão" style="margin-bottom:20px"  >
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Grande área do Enem: </h:outputLabel>
                    <!--h:inputText size = "20" value="{disciplinaController.disciplina.idAreaEnem}"/-->
                    <p:selectOneMenu id="cboAreaEnem" value="#{questaoController.questao.idAreaEnem}" >
                        <f:selectItem itemLabel="Selecione uma Área do Enem" itemValue="" />
                        <f:selectItems  value="#{disciplinaController.listaAreaEnem}" var="areaEnem" itemValue="#{areaEnem.idAreaEnem}" itemLabel="#{areaEnem.nmAreaEnem}"  />
                    </p:selectOneMenu>                
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Área de Conhecimento: </h:outputLabel>
                    <!--h:inputText size = "20" value="{disciplinaController.disciplina.idAreaConhecimento}" /-->
                    <p:selectOneMenu id="cboGrandeArea" value="#{questaoController.questao.idAreaConhecimento}" >
                        <f:selectItem itemLabel="Selecione uma Área de Conhecimento" itemValue="" />
                        <f:selectItems  value="#{disciplinaController.listaAreaConhecimento}" var="grandeArea" itemValue="#{grandeArea.idAreaConhecimento}" itemLabel="#{grandeArea.nmAreaConhecimento}" />
                    </p:selectOneMenu>                
                    
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Disciplina: </h:outputLabel>
                    <p:selectOneMenu id="cboDisciplina" value="#{questaoController.questao.idDisciplina}" >
                        <f:selectItem itemLabel="Selecione uma Disciplina" itemValue="" />
                        <f:selectItems  value="#{disciplinaController.listaDisciplinasAtuais}" var="disciplina" itemValue="#{disciplina.idDisciplina}" itemLabel="#{disciplina.nmDisciplina}"  />
                    </p:selectOneMenu> 

                       
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nome da questão: </h:outputLabel>
                    <h:inputText size = "20" value="#{questaoController.questao.nmQuestao}"/>
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Nivel de dificuldade: </h:outputLabel>
                    <p:selectOneMenu id="cboNivel" value="#{questaoController.questao.idNivel}" >
                        <f:selectItem itemLabel="Nivel de dificuldade:" itemValue="" />
                        <f:selectItems  value="#{nivelController.listaNivelDificuldade}" var="nivel" itemValue="#{nivel.idNivel}" itemLabel="#{nivel.nmNivel}"  />
                    </p:selectOneMenu> 
                    <h:outputLabel style="color: blue; font-size: 14px; font-weight: bolder;">Texto da questão: </h:outputLabel>
                    <p:textEditor widgetVar="widgetEditor"  height="300" style="margin-bottom:10px"  value="#{questaoController.questao.dsTextoQuestao}"/>

                    <p:commandButton id="cmdSubmitTeste" value="Inserir Questão" update="growl"  action="#{questaoController.chamarPaginaCadastroDeResposta()}" icon="pi pi-save" ajax="false" actionListener="#{questaoController.inserirTbQuestao()}">
                    </p:commandButton>
                    
                    <p:commandLink action="#{loginController.chamarPaginaCadastroResposta()}" value="Cadastrar Resposta" ajax="true" />
                    
                    <h:outputLabel id="lblMensagem" value="#{questaoController.mensagem}" style="color: red; font-size: 18px;" />
                </p:fieldset>
           
        </h:form>
    </ui:define>
</ui:decorate>