<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:decorate xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"      
             xmlns:f="http://java.sun.com/jsf/core"      
             xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" 
             template="/section/template/defaultTemplate.xhtml" >

        <ui:define name="titulo">Lista de Questoes</ui:define>
        <ui:define name="conteudo">
        <h:form>
            <p:fieldset legend="Questões já inseridas" style="margin-bottom:20px">
                <p:dataTable id="dtlListaQuestoes" value="#{questaoController.listaQuestoesFiltradas}" var="questaoAtual">
                     <p:column headerText="Código Disciplina:">
                         <h:outputText value="#{questaoAtual.idDisciplina}" />
                    </p:column> 
                     <p:column headerText="Código Nivel:">
                         <h:outputText value="#{questaoAtual.idNivel}" />
                    </p:column> 
                    <p:column headerText="Código Usuário:">
                        <h:outputText value="#{questaoAtual.idUsuario}" />
                    </p:column> 

                    <p:column headerText="Nome da questão:">
                        <h:outputText value="#{questaoAtual.nmQuestao}" />
                    </p:column>                    
                    <p:column headerText="Descrição do texto:">
                        <h:outputText value="#{questaoAtual.dsTextoQuestao}" />
                    </p:column>                                       
                </p:dataTable>

            </p:fieldset>
        </h:form>
    </ui:define>
</ui:decorate>
