<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                >

    <ui:define name="conteudo">
        <h1 class="hero__title">A production-ready theme for your projects</h1>
        <p class="hero__text">Evie is an MIT licensed template bundled with a minimal style guide to build websites faster. It is extemely lightweight, customizable and works perfectly on modern browsers.</p>
        <a href="#" class="button button__accent">Download Evie</a>
        <a href="#" class="button hero__button">Learn more</a>
    </ui:define>
</ui:composition>
