<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">SEQ - Sistema de Elaboração de Questões</ui:insert></title>
    </h:head>
    <style>
        * {
            box-sizing: border-box; 
        }
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: row;
            margin: 0;
        }
        .col-1 {
            background: #D7E8D4;
            flex: 1;
        }
        .col-2 {
            display: flex;
            flex-direction: column;
            flex: 5;
        }
        .content {
            display: flex;
            flex-direction: row;
        }
        .content > article {
            flex: 4;
            min-height: 60vh;
        }
        header, footer {
            background: yellowgreen;
            height: 20vh;
        }
        header, footer, article, nav {
            padding: 1em;
        }
    </style>
    <h:body>
        <nav class="col-1">
            <ui:insert name="menu" rendered="#{loginController.usuarioLogado}">
                <ui:include src="/section/template/menu/menu.xhtml" />
            </ui:insert>

        </nav>
        <div class="col-2">
            <header>
                <ui:insert name="cabecalho">
                    <ui:include src="/section/template/header/cabecalho.xhtml" />
                </ui:insert>

            </header>
            <main class="content">
                <article>
                    <div id="divConteudoPrincipal">
                        <ui:insert name="conteudo">
                            <ui:include src="/section/template/conteudoDefault.xhtml" />
                        </ui:insert>
                    </div>
                </article>
            </main>
            <footer>
                <ui:insert name="rodape">
                    <ui:include src="/section/template/rodape/rodape.xhtml" />
                </ui:insert>

            </footer>
        </div>
    </h:body> 
</html>