<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta class="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
            <title>SEB - Sistema de Elaboracao de Questoes</title>
            <!-- Don't forget to add your metadata here -->
            <link rel='stylesheet' href='resources/css/style.min.css' /></meta>
        
    </h:head>

    <h:body>
        <p:growl id="growl" showDetail="true"  life="3000"/>
        <h:panelGroup  layout="block" class="navbar navbar--extended">
            <nav class="nav__mobile"></nav>
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="navbar__inner">
                    <!-- AQUI VAI O CABEcALHO -->
                    <ui:insert name="cabecalho">
                        <ui:include src="/section/template/header/cabecalho.xhtml" />
                    </ui:insert>
                    <ui:insert name="menu" rendered="#{loginController.usuarioLogado}">
                        <ui:include src="/section/template/menu/menu.xhtml" />
                    </ui:insert>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- Hero unit -->
        <h:panelGroup layout="block"  class="hero">
            <h:panelGroup layout="block"  class="hero__overlay hero__overlay--gradient"></h:panelGroup>
            <h:panelGroup layout="block"  class="hero__mask"></h:panelGroup>
            <h:panelGroup layout="block"  class="hero__inner">
                <h:panelGroup layout="block"  class="container">

                    <h:panelGroup layout="block"  class="hero__content">
                        <h:panelGroup layout="block"  class="hero__content__inner" id='navConverter'>
                            <!-- aqui vai o conteudo da pagina -->
                            <ui:insert name="conteudo">
                                <ui:include src="/section/template/conteudoDefault.xhtml" />
                            </ui:insert>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block"  class="hero__sub">
            <span id="scrollToNext" class="scroll">

            </span>
        </h:panelGroup>
        <!-- Steps -->
        <h:panelGroup layout="block"  class="steps landing__section">
            <h:panelGroup layout="block"  class="container">
                <h2>Who can use Evie?</h2>
                <p>Here's who we can think of, but surely creative people will surprise us.</p>
            </h:panelGroup>
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="steps__inner">
                    <h:panelGroup layout="block"  class="step">
                        <h:panelGroup layout="block"  class="step__media">
                            <img src="resources/images/undraw_designer.svg" class="step__image"/>
                        </h:panelGroup>
                        <h4>Programmers</h4>
                        <p class="step__text">A landing page for your open source projects. Present your solution, easily create docs.</p>
                    </h:panelGroup>
                    <h:panelGroup layout="block"  class="step">
                        <h:panelGroup layout="block"  class="step__media">
                            <img src="resources/images/undraw_responsive.svg" class="step__image"/>
                        </h:panelGroup>
                        <h4>Designers</h4>
                        <p class="step__text">A website for your own freebies. Let the world download and use your artwork.</p>
                    </h:panelGroup>
                    <h:panelGroup layout="block"  class="step">
                        <h:panelGroup layout="block"  class="step__media">
                            <img src="resources/images/undraw_creation.svg" class="step__image"/>
                        </h:panelGroup>
                        <h4>Makers</h4>
                        <p class="step__text">A great starting point for your web application. Focus on your idea and execution.</p>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- Expanded sections -->
        <h:panelGroup layout="block"  class="expanded landing__section">
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="expanded__inner">
                    <h:panelGroup layout="block"  class="expanded__media">
                        <img src="resources/images/undraw_browser.svg" class="expanded__image"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block"  class="expanded__content">
                        <h2 class="expanded__title">Natural styling with almost nothing to learn</h2>
                        <p class="expanded__text">Evie brings you the pages you'll need and the structure to create your own, without a learning curve. It is minimal and mostly styles plain elements. There are only a few classes you'll need to know but nothing to disrupt your preferred coding style.</p>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block"  class="expanded landing__section">
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="expanded__inner">
                    <h:panelGroup layout="block"  class="expanded__media">
                        <img src="resources/images/undraw_frameworks.svg" class="expanded__image"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block"  class="expanded__content">
                        <h2 class="expanded__title">Framework agnostic. Your front-end setup, your choice.</h2>
                        <p class="expanded__text">Evie has zero dependencies and uses vanilla JavaScript for a few functions with minimal footprint. You can use React, Vue, Angular, jQuery or whatever you prefer.</p>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <h:panelGroup layout="block"  class="expanded landing__section">
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="expanded__inner">
                    <h:panelGroup layout="block"  class="expanded__media">
                        <img src="resources/images/together.svg" class="expanded__image"/>
                    </h:panelGroup>
                    <h:panelGroup layout="block"  class="expanded__content">
                        <h2 class="expanded__title">Ready for production or rapid prototyping</h2>
                        <p class="expanded__text">Landing, authentication and a few other pages to select from, despite the small size. Tested on production at unDraw with amazing speeds and unopinionated on how to structure your project. We really hope you'll find it awesome and useful!</p>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- Call To Action -->
        <h:panelGroup layout="block"  class="cta cta--reverse">
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="cta__inner">
                    <h2 class="cta__title">Get started now</h2>
                    <p class="cta__sub cta__sub--center">Grab the production version and begin your project instantly.</p>
                    <h:link outcome="#" class="button button__accent">Download Evie</h:link>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- Footer -->
        <h:panelGroup layout="block"  class="footer footer--dark">
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="footer__inner">
                    <h:link outcome="index.html" class="footer__textLogo">Evie theme</h:link>
                    <h:panelGroup layout="block"  class="footer__data">
                        <h:panelGroup layout="block"  class="footer__data__item">
                            <h:panelGroup layout="block"  class="footer__row">
                                Created by <h:link outcome="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</h:link>
                            </h:panelGroup>
                            <h:panelGroup layout="block"  class="footer__row">
                                Code/design by <h:link outcome="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</h:link>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block"  class="footer__data__item">
                            <h:panelGroup layout="block"  class="footer__row">Created for <h:link outcome="https://undraw.co" target="_blank" class="footer__link">unDraw</h:link>
                            </h:panelGroup>
                        </h:panelGroup>
                        <h:panelGroup layout="block"  class="footer__data__item">
                            <h:panelGroup layout="block"  class="footer__row">
                                <h:link outcome="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</h:link>
                            </h:panelGroup>
                            <h:panelGroup layout="block"  class="footer__row">
                                <h:link outcome="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</h:link>
                            </h:panelGroup>
                            <h:panelGroup layout="block"  class="footer__row">
                                <h:link outcome="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</h:link>
                            </h:panelGroup>
                            <h:panelGroup layout="block"  class="footer__row">
                                <h:link outcome="./additional.html" class="footer__link">MIT license</h:link>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <script src='resources/js/app.min.js'></script>
        <ui:insert name="rodape"></ui:insert>
    </h:body>
</html>