<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta class="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
            <!-- Don't forget to add your metadata here -->
            <link rel='stylesheet' href='resources/css/style.min.css' /></meta>
        <title><ui:insert name="titulo">SEQ - Sistema de Elaboração de Questões</ui:insert></title>
    </h:head>

    <h:body>
        <p:growl id="growl" showDetail="true"  life="3000"/>
        <h:panelGroup  layout="block" class="navbar navbar--extended">
            <nav class="nav__mobile"></nav>
            <h:panelGroup layout="block"  class="container">
                <h:panelGroup layout="block"  class="navbar__inner">
                    <!-- AQUI VAI O CABEcALHO -->
                    <ui:insert name="cabecalho">
                        <ui:include src="/section/template/header/cabecalho.xhtml" />
                    </ui:insert>
                    <ui:insert name="menu" rendered="#{loginController.usuarioLogado}">
                        <ui:include src="/section/template/menu/menu.xhtml" />
                    </ui:insert>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        <!-- Hero unit -->
        <h:panelGroup layout="block"  class="hero">
            <h:panelGroup layout="block"  class="hero__overlay hero__overlay--gradient"></h:panelGroup>
            <h:panelGroup layout="block"  class="hero__mask"></h:panelGroup>
            <h:panelGroup layout="block"  class="hero__inner">
                <h:panelGroup layout="block"  class="container">

                    <h:panelGroup layout="block"  class="hero__content">
                        <h:panelGroup layout="block"  class="hero__content__inner" id='navConverter'>
                            <!-- aqui vai o conteudo da pagina -->
                            <ui:insert name="conteudo">
                                <ui:include src="/section/template/conteudoDefault.xhtml" />
                            </ui:insert>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>
        </h:panelGroup>
        
        
        <script src='resources/js/app.min.js'></script>
        <ui:insert name="rodape">
            <ui:include src="/section/template/rodape/rodape.xhtml" />
        </ui:insert>
    </h:body>
</html>